#  {{ title }}

{% if output_summary %}
## Summary
{{ output_summary }}

---
{% endif %}

{% if output_takeaways %}
## Key Takeaways
{{ output_takeaways }}

---
{% endif %}

{% if youtube_data_metadata %}
{{ youtube_data_metadata }}
{% endif %}
